:root {
  --col1: rgb(255, 255, 255);
  --col2: rgb(0, 0, 0);
  --col3: rgb(255, 0, 118); /* alert box */
  --col4: rgb(170, 170, 170); /* governed */
  --col5: rgb(0, 125, 125); /* main background */
  --col6: rgb(255, 192, 203); /* manager background */
  --col7: rgb(18,25,33); /* paddedFloatingBox */
  --col8: rgb(43, 91, 132); /* profiler box */

  /* Default root is suppose to be 16.
   * So, 0.75 should give us 12px */
   --fs: 0.75rem;
}

html.manager {
  background-color: var(--col6);
}

html.document {
  background-color: var(--col1);
}

.profiler {
  background-color: var(--col8);
}

img {
  vertical-align: middle;
}

main {
  background-color: var(--col5);
}

iframe {
  border: none;
  width: 100%;
  min-height: 300px;
}

:focus {
  outline: none;
}

/* Link order : link, visited, hover, active */
a, .navbottom a {
  color: var(--col2);
}

a:link {
  text-decoration: none;
}

a:hover, a:focus,
.paddedFloatingBox a:hover, .paddedFloatingBox a:focus,
.governed a:hover, .governed a:focus {
  text-decoration: underline;
}

nav a, .alertbox a, .floatBoxR a, .profiler strong {
  color: var(--col1);
}

.alertbox{
  background-color: var(--col3);
}

/* Uncomment this, if you want the menu to always be visisble.
.navTop {
  position: fixed;
  z-index:100;
}
*/

.paddedFloatingBox {
  background-color: var(--col7);
  padding: 0px 5px 0px 5px; /* right and left */
  float: left /* Default to floating left */
}

.floatBoxR {
  float: right;
}

.altColorsA {
  background-color: var(--col1);
  color: var(--col2);
}

.governed {
  background-color: var(--col4);
  font-size: var(--fs);
}

.profiler,
.governed {
  border-top: 5px solid var(--col1);
}

alertbox, .governed, .profiler {
  padding: 5px 5px 5px 5px;
}

.imgsocial {
  filter: alpha(opacity=50);
  opacity: 0.5;
  height: var(--fs);
  cursor: pointer;
}

.imgsocial:hover, .imgsocial:focus {
  filter: alpha(opacity=100);
  opacity: 1;
}

.alertbox,
.navbottom,
.profiler {
  display: none;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

::marker {
  color: var(--col3);
  content: '* ';
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}