.PopupEnabled
{
	position:absolute;
	border:thin solid Highlight;
	cursor:default;
	background:white;
	z-index:5;
	visibility:visible;
	width:550px; 
	height:450px;
}

.PopupDisabled
{
	height:1px;
	visibility:hidden;
}