/*
    The MIT License(MIT)
    Copyright(c), Tobey Peters, https://github.com/tobeypeters
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software
    and associated documentation files (the "Software"), to deal in the Software without restriction,
    including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
    subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
    LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
    SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*  App.module.css
    Description:
        App.js - css
*/
* {
    font-size: 16px;
}
.charContainer {
    display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
    margin: 0 auto;
}

.glasscard {
    width: min-content;
    min-height: 222px;
    list-style: none;
    text-align: center;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 213, 219, 0.3);
    border-radius: 12px;
}
.glasscard:hover {
    cursor: pointer;
    animation: bounce 0.5s linear;
	box-shadow: 0 3px 15px rgba(255, 255, 255, 0.15);
}
.glasscardDetail {
    padding: 200px;
}

.glasscardimage, .glasscardMiniImage {
    background: lightgrey;
    border-radius: 10px;
    float: left;
}
.glasscardimage {
    height: 180px;
    width: 180px;
    margin: 10px 10px 0px 10px;

    position: relative;
    perspective: 1000px;

}
.glasscardimage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.backtop { text-decoration: none; }
.footer { padding: 8px; }
.footer a, .navbar a { color: lightsalmon; }
.footer a:hover, .navbar a:hover { color: black; }
.legal { text-align: justify; margin: 0px 20px 0px 20px; }
.logo { text-align: center; }
.navbar { height: 28px; }

.horzAlign {
    float: right;
    padding-right: 4px;
}

.navbar, .navbutton, .footer {
    border: solid 1px black;
    border-radius: 4px;
}
.navbar, .footer {
    background-color: orangered;
    border-color: lightsalmon #c36b49 #c36b49 lightsalmon;
    color: white;
}
.navbutton { background-color: #00000077; }
.navbutton {
    width: 8px;
    height: 8px;
    display:inline-block;
    border-color: lightsalmon lightsalmon lightsalmon lightsalmon;
    margin: 5px 0px 0px 5px;
}
.navlinks {
    display: inline;
    position: absolute;
    margin: 5px 0px 0px 4px;
}